<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="SERVER11.KEY">SERVER11</entry>
<entry key="SERVER8.DS"/>
<entry key="SERVER6.DBPASSWORD"/>
<entry key="SERVER5.DBSCHEMASEPERATOR">.</entry>
<entry key="SERVER11.DBUSER">admin</entry>
<entry key="SERVER2.DBPASSWORD">oAEt9c35BSmc1cpJ2ZRViA==</entry>
<entry key="SERVER12.DBURL">jdbc:mysql://192.168.242.130:3306?useUnicode=yes&amp;characterEncoding=UTF-8&amp;generateSimpleParameterMetadata=true&amp;useOldAliasMetadataBehavior=true&amp;useSSL=false</entry>
<entry key="SERVER9.DBSCHEMASEPERATOR">.</entry>
<entry key="SERVER9.DS">jdbc/Ortak</entry>
<entry key="SERVER3.DBUSER">admin</entry>
<entry key="SERVER5.DBUSER"/>
<entry key="SERVER8.DBURL">jdbc:as400://LOCALHOST</entry>
<entry key="SERVER2.DBDRIVER">org.apache.derby.jdbc.EmbeddedDriver</entry>
<entry key="SERVER6.EK.ARTTIR"/>
<entry key="SERVER2.DBURL">jdbc:derby:db/data1;create=false</entry>
<entry key="SERVER4.DBDRIVER">sun.jdbc.odbc.JdbcOdbcDriver</entry>
<entry key="SERVER2.KEY">SERVER2</entry>
<entry key="SERVER1.EK.ARTTIR"/>
<entry key="SERVER1.DBSCHEMASEPERATOR">.dbo.</entry>
<entry key="SERVER1.DBUSER">admin</entry>
<entry key="SERVER5.NAME">Excell(Core Java)</entry>
<entry key="SERVER7.KEY">SERVER7</entry>
<entry key="Baglanti.INITIAL_CONTEXT_FACTORY">com.ibm.websphere.naming.WsnInitialContextFactory</entry>
<entry key="SERVER11.DBURL">http://www.yonetici.web.tr/WebYonetim/service</entry>
<entry key="SERVER7.DBURL">jdbc:mysql://192.168.242.130/?useUnicode=yes&amp;characterEncoding=UTF-8&amp;generateSimpleParameterMetadata=true&amp;useOldAliasMetadataBehavior=true&amp;useSSL=false</entry>
<entry key="SERVER12.DBPASSWORD"/>
<entry key="SERVER10.KEY">SERVER10</entry>
<entry key="SERVER4.EK.ARTTIRMA"/>
<entry key="SERVER10.DBSCHEMASEPERATOR">.</entry>
<entry key="SERVER8.DBSCHEMASEPERATOR">.</entry>
<entry key="SERVER6.DBDRIVER">com.mysql.jdbc.Driver</entry>
<entry key="SERVER7.DBPASSWORD"/>
<entry key="SERVER8.DBDRIVER">com.ibm.as400.access.AS400JDBCDriver</entry>
<entry key="SERVER3.DBPASSWORD"/>
<entry key="SERVER1.KEY">SERVER1</entry>
<entry key="SERVER2.EK.ARTTIRMA"/>
<entry key="SERVER10.DBDRIVER">com.mysql.jdbc.Driver</entry>
<entry key="SERVER6.NAME">Yerel(MySql-SERVER)</entry>
<entry key="SERVER1.DBURL">jdbc:sqlserver://127.0.0.1:1433</entry>
<entry key="SERVER4.DBSCHEMASEPERATOR">.</entry>
<entry key="SERVER6.KEY">SERVER6</entry>
<entry key="SERVER4.EK.ARTTIR"/>
<entry key="SERVER7.NAME">Yerel(MySql-NET)</entry>
<entry key="SERVER8.DBUSER"/>
<entry key="SERVER7.EK.ARTTIRMA"/>
<entry key="SERVER10.DBURL">http://192.168.0.18:81/WebYonetim/service</entry>
<entry key="SERVER6.DBURL">jdbc:mysql://localhost/?useUnicode=yes&amp;characterEncoding=UTF-8&amp;generateSimpleParameterMetadata=true&amp;useOldAliasMetadataBehavior=true&amp;useSSL=false</entry>
<entry key="SERVER10.DS"/>
<entry key="SERVER12.DBDRIVER">com.mysql.jdbc.Driver</entry>
<entry key="SERVER11.DS"/>
<entry key="SERVER7.EK.ARTTIR"/>
<entry key="SERVER12.DBUSER">admin</entry>
<entry key="SERVER12.DS"/>
<entry key="SERVER6.DBUSER">root</entry>
<entry key="SERVER8.NAME">DB400</entry>
<entry key="SERVER8.DBPASSWORD"/>
<entry key="SERVER1.NAME">MS SQL Server</entry>
<entry key="SERVER2.EK.ARTTIR"/>
<entry key="USER.NAME">admin</entry>
<entry key="SERVER5.KEY">SERVER5</entry>
<entry key="SERVER4.DBPASSWORD"/>
<entry key="SERVER7.DBSCHEMASEPERATOR">.</entry>
<entry key="SERVER1.DBDRIVER">com.microsoft.sqlserver.jdbc.SQLServerDriver</entry>
<entry key="SERVER5.DBURL">jdbc:nilostep:excel:</entry>
<entry key="SERVER10.NAME">Yerel(PhpWeb)</entry>
<entry key="SERVER3.DBDRIVER">org.apache.derby.jdbc.ClientDriver</entry>
<entry key="SERVER10.DBUSER">admin</entry>
<entry key="SERVER5.EK.ARTTIRMA"/>
<entry key="SERVER2.DBUSER">admin</entry>
<entry key="SERVER4.DBUSER"/>
<entry key="SERVER5.DBDRIVER">com.nilostep.xlsql.jdbc.xlDriver</entry>
<entry key="SERVER3.DBSCHEMASEPERATOR">.</entry>
<entry key="SERVER9.NAME">PostgreSQL</entry>
<entry key="SERVER2.NAME">Derby-SERVER</entry>
<entry key="SERVER10.DBPASSWORD"/>
<entry key="REMSERVER">SERVER11</entry>
<entry key="SERVER4.KEY">SERVER4</entry>
<entry key="SERVER11.NAME">yonetim.web.tr(PhpWeb)</entry>
<entry key="SERVER">SERVER2</entry>
<entry key="SERVER12.DBSCHEMASEPERATOR">.</entry>
<entry key="SERVER9.DBPASSWORD"/>
<entry key="SERVER7.DBDRIVER">com.mysql.jdbc.Driver</entry>
<entry key="SERVER5.EK.ARTTIR"/>
<entry key="SERVER9.KEY">SERVER9</entry>
<entry key="SERVER5.DBPASSWORD"/>
<entry key="SERVER8.EK.ARTTIRMA">OVERRIDING SYSTEM VALUE</entry>
<entry key="SERVER9.DBDRIVER">org.postgresql.Driver</entry>
<entry key="SERVER3.EK.ARTTIRMA"/>
<entry key="SERVER12.EK.ARTTIRMA"/>
<entry key="SERVER4.DBURL">jdbc:odbc:Driver={Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)};ReadOnly=0;DBQ=</entry>
<entry key="SERVER12.KEY">SERVER12</entry>
<entry key="SERVER2.DBSCHEMASEPERATOR">.</entry>
<entry key="SERVER1.DS"/>
<entry key="SERVER6.DBSCHEMASEPERATOR">.</entry>
<entry key="SERVER3.NAME">Derby-NET</entry>
<entry key="SERVER12.EK.ARTTIR"/>
<entry key="SERVER2.DS"/>
<entry key="SERVER12.NAME">yonetim.web.tr(MySql)</entry>
<entry key="SERVER3.DS"/>
<entry key="SERVER8.EK.ARTTIR">OVERRIDING USER VALUE</entry>
<entry key="SERVER1.EK.ARTTIRMA"/>
<entry key="SERVER3.KEY">SERVER3</entry>
<entry key="SERVER1.DBPASSWORD">a4kr04Zcs4j0KD8mnoHwOA==</entry>
<entry key="SERVER4.DS"/>
<entry key="SERVER11.DBSCHEMASEPERATOR">.</entry>
<entry key="SERVER9.DBURL">jdbc:postgresql://localhost:5432/usp</entry>
<entry key="SERVER11.DBDRIVER">com.mysql.jdbc.Driver</entry>
<entry key="SERVER7.DBUSER">root</entry>
<entry key="SERVER5.DS"/>
<entry key="SERVER3.DBURL">jdbc:derby://localhost:1527/PRJTKP;create=true</entry>
<entry key="SERVER3.EK.ARTTIR"/>
<entry key="SERVER11.DBPASSWORD"/>
<entry key="SERVER9.DBUSER">admin</entry>
<entry key="SERVER6.DS"/>
<entry key="SERVER8.KEY">SERVER8</entry>
<entry key="SERVER7.DS">jdbc/Ortak</entry>
<entry key="SERVER6.EK.ARTTIRMA"/>
<entry key="SERVER4.NAME">Excell(ODBC)</entry>
</properties>
